
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="
https://cdn.jsdelivr.net/npm/fontawesome-4.7@4.7.0/css/font-awesome.min.css
" rel="stylesheet">
<hr />
<a class="btn btn-success pull-left" asp-action="Themmoi" asp-controller="CategoryPet"><i class="fa fa-plus"></i>Thêm mới</a>

<form asp-action="Index" asp-controller="Pet" method="get" class="form-inline mb-3 pull-right">
    <input type="text" name="name" class="form-control mt-3" placeholder="Tìm kiếm theo tên, loài hoặc giống" required />
    <button type="submit" class="btn btn-warning ml-2" >Tìm Kiếm</button>
</form>

<table class="table table-bordered bg-white mt-4">
    <thead>
        <tr>
            <th>Mã Loài Thú Cưng</th>
            <th>Tên Loài</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in ViewBag.CategoryPets)
        {
            <tr>
                <td>@c.CategoryPetId</td>
                <td>@c.species</td>
                <td>
                    <a class="btn btn-danger" asp-action="Xoa" asp-controller="CategoryPet" asp-route-Id="@c.CategoryPetId"><i class="fa fa-trash"></i>Xóa</a>
                    <a class="btn btn-danger" asp-action="Sua" asp-controller="CategoryPet" asp-route-Id="@c.CategoryPetId"><i class="fa fa-trash"></i>Sua</a>
                  
                </td>
            </tr>
        }
      
        </tbody>
     </table>

