
@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GioiThieu</h1>


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="~/user/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="border-start border-5 border-primary ps-5 mb-5">
                    <h6 class="text-primary text-uppercase">GIỚI THIỆU VỀ CHÚNG TÔI</h6>
                    <h1 class="display-5 text-uppercase mb-0">CHÚNG TÔI LUÔN GIỮ CHO THÚ CƯNG CỦA BẠN LUÔN VUI VẺ</h1>
                </div>

                <div class="bg-light p-4">
                    <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                                    aria-selected="true">
                                SỨ MỆNH CỦA CHÚNG TÔI
                            </button>
                        </li>
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                                    aria-selected="false">
                                TẦM NHÌN CỦA CHÚNG TÔI
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <p class="mb-0">
                                Thú cưng , hay động vật đồng hành , là động vật được nuôi chủ yếu để bầu bạn hoặc giải trí với một người chứ không phải để làm vật nuôi , gia súc hoặc động vật thí nghiệm .
                                Thú cưng phổ biến thường được coi là có ngoại hình hấp dẫn/ dễ thương , thông minh và tính cách dễ gần, nhưng một số vật nuôi có thể được nuôi vì mục đích vị tha (chẳng hạn như động vật hoang dã) và được chủ nhân chấp nhận bất kể những đặc điểm này.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->