
@{
    ViewData["Title"] = "OrdersSucess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OrdersSucess</h1>

<div>
    <div class="alert alert-success">Thanh toán Thành Công</div>
    <div ><a href="/Home/ThuCung" class="btn btn-success">Tiếp Tục Mua Hàng</a></div>
</div>